.footer{
    background: #1E005A;
    padding: 71px 0 22px;
}

.footer__title{
    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FE0000;
}

.footer__text{
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
}

.footer__list{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer__number{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.footer__num{
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.footer__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

.footer__span{
    color: #FE0000;
}

.footer__icon{
    margin-top: 80px;
    display: flex;
    align-items: center;
    column-gap: 13px;
    justify-content: center;
}

.footer__icons{
    width: 32px;
    height: 32px;
    color: #FE0000;
}

.footer__link{
    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}

@media (max-width: 1440px) {
    .number{
        margin-left: 40px;
    }
}

@media (max-width: 1024px) {
    .number{
        margin-left: 40px;
    }
}

@media (max-width: 768px) {
    .number{
        margin-left: 40px;
    }
}

@media (max-width: 540px) {
    .footer__icon {
        margin-top: 25px;
        display: flex;
        align-items: flex-start;
        column-gap: 13px;
        justify-content: flex-start;
    }
    .footer__content {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        gap: 60px;
        flex-direction: column;
    }
    .number{
        margin-left: 40px;
    }
}

@media (max-width: 360px) {
    .footer__icon {
        margin: 80px 5px 0;
        display: flex;
        align-items: flex-start;
        column-gap: 13px;
        justify-content: flex-start;
    }
    .footer__title {
        font-weight: 900;
        font-size: 34px;
        line-height: 46px;
    }
    .footer__list {
        row-gap: 16px;
    }
}
