.main{
    background: url("../../images/reiseFon.png") 139% 18% /cover no-repeat fixed;
    animation-name: animate;
    transition: 5s;
    animation-duration: 30s;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes animate {
    0% {
        background-image: url("../../images/brandenburg.jpg");
    }
    20% {
        background-image: url("../../images/germany-fon.jpg");
    }
    40% {
        background-image: url("../../images/coursesImg.png");
    }
    60% {
        background-image: url("../../images/Frankfurt.jpg");
    }
    80% {
        background-image: url("../../images/reiseFon.png");
    }
}

.main__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__left{
    margin: 224px 0 374px;
}

.main__icons{
    background: #00000060;
    border-radius: 12px;
    padding: 20px 10px 20px 20px;
    margin: 86px 0 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: end;
}

.main__icon{

    color: #FE0000;
    font-weight: 400;
    font-size: 27px;
    cursor: pointer;
    text-shadow: 1px 1px 2px azure, 0 0 1px aliceblue, 0 0 9px #1E005A;
}

.main__title{
    border-radius: 12px;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 32px;
    color: #1E005A;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.main__title_active{
    transform: translate(0, 0);
    opacity: 1;
}

.main__number{
    color: #FE0000;
    text-shadow: 1px 1px 2px azure, 0 0 1px aliceblue, 0 0 9px #1E005A;
    font-size: 27px;
}

.main__text{
    font-family: 'Garamond', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 37px 0 48px;
    color: #1E005A;
}

.main__btn{
    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
    width: 294px;
    height: 64px;
    background: #FE0000;
    border-radius: 15px;
}

.main__btn:hover{
    background: #FE000090;
}

@media (max-width: 992px) {
    .main__number{
        display: none;
    }
}

@media (max-width: 769px) {
    .main__left {
        margin: 195px 0 353px;
    }
    .main__title {
        font-size: 33px;
    }
    .main__text {
        font-size: 26px;
        margin: 23px 0 30px;
        transition: .2s;
    }
    .main__btn {
        font-size: 21px;
        width: 251px;
        height: 50px;
    }
}

@media (max-width: 693px) {
    .main__icons {
        margin: 86px 0 471px;
    }
}

@media (max-width: 592px) {
    .main__content{
        flex-direction: column;

    }
    .main__icons {
        margin: 12px 0 123px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: start;
    }
    .main__left {
        margin: 95px 0 34px;
    }
}

@media (max-width: 492px) {
    /*.main{*/
    /*    background: url("../../images/fon.png") center/cover no-repeat;*/
    /*}*/
    .main__title {
        font-size: 22px;
    }
    .main__text {
        font-size: 18px;
        margin: 13px 0 19px;
    }
    .main__btn {
        font-size: 16px;
        width: 215px;
        height: 41px;
    }
}

@media (max-width: 375px) {
    /*.main{*/
    /*    background: url("../../images/fon.png") center/cover no-repeat;*/
    /*}*/
    .main__left {
        margin: 28px 0 25px;
    }
    .main__text {
        font-size: 16px;
        margin: 1px 0 5px;
    }
    .main__icons {
        margin: 12px 0 200px;
    }
    .main__title {
        font-size: 19px;
    }
    .main__btn {
        font-size: 14px;
        width: 187px;
        height: 37px;
    }
}

@media (max-width: 360px) {
    .main__left {
        margin: 28px 0 25px;
    }
    .main__text {
        font-size: 16px;
        margin: 1px 0 5px;
    }
}

